body {
  background-image: url("back1.jpg");
  background-size: cover;
  font-family: "Permanent Marker", cursive;
}

.container {
  height: 600px;
  width: 1000px;
  display: flex;
  color: white;
  margin: auto;
  margin-top: 80px;
  backdrop-filter: blur(8px);
  border: 1px solid #082696;
  border-radius: 10px;
  /*box-shadow: 5px 5px 5px 2px #385be0;*/
}

.info {
  width: 400px;
  height: 600px;
  border-right: 2px solid #b9eaff;
}

.dp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 50px 100px;
}

.self-info {
  margin: 50px 70px;
  text-shadow: 2px 2px #082696;
}

.social {
  width: 600px;
  height: 600px;
  margin: 60px 0px;
  font-family: "Akaya Telivigala", cursive;
}

.skills {
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px #082696;
}

.know-more {
  text-align: center;
  text-shadow: 2px 2px #082696;
}

#portfolio {
  margin: 0px auto;
  display: block;
}

.contact {
  text-align: center;
  margin: 50px 0px;
  text-shadow: 2px 2px #082696;
}

.social-handles {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  height: 80px;
  width: 80px;
}
